<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Voting System</title>
</head>
<body>
<h1>Your Votings</h1>
<a th:href="@{/voting/create}">Create new voting</a>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Active</th>
        <th>Controls</th>
    </tr>
    <tr th:each="voting : ${votings}">
        <td><span th:text="${voting.id}">...</span></td>
        <td><span th:text="${voting.title}">...</span></td>
        <td><span th:text="${voting.startDate}">...</span></td>
        <td><span th:text="${voting.endDate}">...</span></td>
        <td><span th:text="${voting.active}">...</span></td>
        <td>
            <a th:href="@{/voting/{id}/start(id=${voting.id})}">▶</a>
            <a th:href="@{/voting/{id}/stop(id=${voting.id})}">⏹</a>
            <a th:href="@{/voting/{id}/results(id=${voting.id})}">📊</a>
            <a th:href="@{/voting/{id}(id=${voting.id})}">🔗</a>
        </td>
    </tr>
</table>
</body>
</html>